@page "/products/create"
@using Shop.Common.Models.DTO.Category
@using Shop.Common.Models.DTO.Product
@inject NavigationManager navigation

@inject IProductService _productService

<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Cadastrar produto</h4>
                </div>

                <ProductForm Product="@product" OnValidSubmit="Create"
                              ButtonTextCancel="Cancelar"
                              ButtonTextSubmit="Salvar">
                </ProductForm>

            </div>
        </div>
    </div>
</div>


@code {
    private ProductRequestDto product = new ProductRequestDto();

    async Task Create()
    {
        await _productService.Create(product);
        navigation.NavigateTo("products");
    }
}
