﻿
@page "/login"
@layout LoginLayout

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="container container-tight my-5 px-lg-5">
    <div class="text-center mb-4">
        <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>
    </div>
    <h2 class="h3 text-center mb-3">
        Acesse sua conta
    </h2>

    <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <InputText Id="email" type="email" Class="form-control" @bind-Value="loginModel.Email" placeholder="Insira seu e-mail" />
            <ValidationMessage For="@(() => loginModel.Email)" />
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Senha</label>
            <InputText Id="password" type="password" Class="form-control" @bind-Value="loginModel.Password" placeholder="Insira sua senha" />
            <ValidationMessage For="@(() => loginModel.Password)" />
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
    </EditForm>

    <div class="text-center text-secondary mt-3">
        Não possui conta? <a href="" tabindex="-1">Cadastre-se</a>
    </div>
</div>


@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var result = await AuthService.Login(loginModel);

        if (result.Token is not null)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}