﻿@using System.Security.Claims;

<AuthorizeView>
    <Authorized>
        <a href="LogOut" class="dropdown-item">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Login" class="dropdown-item">Log in</a>
    </NotAuthorized>
</AuthorizeView>