@page "/category/edit/{categoryId:guid}"
@using Shop.Common.Models.DTO.Category
@inject NavigationManager navigation

@inject ICategoryService _categoryService

<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Editar categoria</h4>
                </div>

                <CategoryForm Category="@category" OnValidSubmit="Edit"
                              ButtonTextCancel="Cancelar"
                              ButtonTextSubmit="Salvar">
                </CategoryForm>

            </div>
        </div>
    </div>
</div>


@code {
    private CategoryRequestDto category = new CategoryRequestDto();

    [Parameter]
    public Guid categoryId { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        var response = await _categoryService.GetById(categoryId);

        category = new CategoryRequestDto
        {
           Name = response.Name
        };
    }

    async Task Edit()
    {
        await _categoryService.Update(categoryId, category);
        navigation.NavigateTo("categories");
    }
}
